.jumbotron {
    background: #000080;
}

h3 {
    color: white;
}

#bigfont {
    color: white;
}

#schHeading {
    background: #000080;
}

#addHeading {
    background: #000080;
}

.panel-title {
    color: white;
}

#addTrain {
    background: #000080;
}
